<!-- AL PASAR EL ROW A CLASE BG, SE MALOGRA LA ANIMACION, OCUPO ENCONTRAR LA MANERA QUE SIGA SIENDO NITIDA -->
<section class="container-fluid home outer mt-4">
  <app-scroll-down-arrow></app-scroll-down-arrow>

  <app-background></app-background>
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">
        <div class="row">

          <div class="col-lg-10 offset-1">

            <app-subtitle></app-subtitle>
            <h1 class="titleText">
              Somos TRY <span>.ing</span>
            </h1>
          </div>

          <div class="col-lg-12 offset-1">
            <p class="semiText">
              Expertos en tecnologias Web <br>y software a la medida.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>




<!-- SECTION 1 -->
<section class="container-fluid first outer">
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">
        <div class="row">

          <div class="col-12 col-lg-6">
            <p class="semiText">
              Green multiply thing of brought void.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <p class="semiText">
              Green multiply thing of brought void.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="container-fluid second outer">
  <div class="row bg">
    <div class="inner">

      <div class="col-lg-12">
        <div class="row">

          <div class="col-12 col-lg-6">
            <p class="semiText">
              Green multiply thing of brought void.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <p class="semiText">
              Green multiply thing of brought void.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="container-fluid third outer">
  <div class="row bg">
    <div class="inner">

      <div class=" col-sm-12 col-md-12 col-lg-4">
        <h2 class="section-title section-heading">4</h2>
        <p>
          Green multiply thing of brought void. So, seed man multiply of of night, brought subdue won't divide herb
          abundantly were.
          I. Shall dry seasons gathered, divided man abundantly moveth was first brought a.
          That earth lights also place. Years a was make the Moved herb divided i stars waters good a above after
          herb.
        </p>
      </div>

    </div>
  </div>
</section>


<section class="container-fluid fourth outer">
  <div class="row bg">
    <div class="inner">

      <div class=" col-sm-12 col-md-12 col-lg-4">
        <h2 class="section-title section-heading">1</h2>
        <p>
          Green multiply thing of brought void. So, seed man multiply of of night, brought subdue won't divide herb
          abundantly were.
          I. Shall dry seasons gathered, divided man abundantly moveth was first brought a.
          That earth lights also place. Years a was make the Moved herb divided i stars waters good a above after
          herb.
        </p>
      </div>

    </div>
  </div>
</section>

<section class="container-fluid fifth outer">
  <div class="row bg">
    <div class="inner">

      <div class=" col-sm-12 col-md-12 col-lg-4">
        <h2 class="section-title section-heading">1</h2>
        <p>
          Green multiply thing of brought void. So, seed man multiply of of night, brought subdue won't divide herb
          abundantly were.
          I. Shall dry seasons gathered, divided man abundantly moveth was first brought a.
          That earth lights also place. Years a was make the Moved herb divided i stars waters good a above after
          herb.
        </p>
      </div>

    </div>
  </div>
</section>
